Repository Finuncle-Fintech/lekkalu-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bharathkumarchowdary, @mohitkhatri06, @ivangarcilazo

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence,

# following owners will be requested for

# review when someone opens a pull request.

*  @bharathkumarchowdary

# Following user, owns any files in the src/

# directory at the root of the repository and any of its

# subdirectories.

/src/ @mohitkhatri06 @ivangarcilazo
package.json @mohitkhatri06
package-lock.json @mohitkhatri06

/src/pages/Signin
/src/pages/Signin
/src/Router.jsx

/src/__test__/ @ivangarcilazo
/src/components/Expenses/ @ivangarcilazo
/src/components/CAGRCalculator/ @ivangarcilazo
/src/components/CalculatorSIP/ @ivangarcilazo

add console
  src/__test__/SignIn/SignIn.test.js
Owners: @ivangarcilazo

feat(sip-calculator): add range sliders in sip calculator
  src/components/CalculatorSIP/CalculatorSIP.jsx
  src/pages/SIPCalculator/SIPCalculator.jsx
Owners: @ivangarcilazo, @mohitkhatri06

add package lock file
  package-lock.json
Owners: @mohitkhatri06

update all expences api
  src/components/income-statement/download/DownloadData.jsx
  src/provider/Provider.js
Owners: @mohitkhatri06, @ivangarcilazo

Graph-card-finished
  package-lock.json
  package.json
  src/components/BalanceSheet/BarChart.jsx
  src/components/BalanceSheet/BarGraph.jsx
  src/components/BalanceSheet/GraphCard.jsx
  src/components/Charts/NivoPie.jsx
  src/components/Header/Header.jsx
  src/components/Header/HeaderComponents/BasicMenu.jsx
  src/pages/BalanceSheet/BalanceSheet.jsx
Owners: @mohitkhatri06, @ivangarcilazo

Created Hero page. issue #184. (#191)
  src/Router.jsx
  src/__test__/Hero/Hero.test.js
  src/assets/HeroImages/Hero.svg
  src/assets/HeroImages/arrow-right.svg
  src/assets/HeroImages/hero-icon-1.svg
  src/assets/HeroImages/hero-icon-2.svg
  src/assets/HeroImages/hero-icon-3.svg
  src/components/HeroContainer/HeroContainer.jsx
  src/components/HeroContainer/HeroContainer.module.css
  src/components/HeroDescription/HeroDescription.jsx
  src/components/HeroDescription/HeroDescription.module.css
  src/components/HeroHeader/HeroHeader.jsx
  src/components/HeroHeader/HeroHeader.module.css
  src/components/HeroRoute/HeroRoute.jsx
  src/components/Layout/Layout.jsx
  src/pages/Hero/Hero.jsx
  src/pages/Hero/Hero.module.css
Owners: @ivangarcilazo, @mohitkhatri06

fix(signin-&-signup): fix styling issues on signin and signup pages
  src/pages/Signin/Signin.jsx
  src/pages/Signin/Signin.module.css
  src/pages/Signup/Signup.jsx
  src/pages/Signup/Signup.module.css
Owners: @mohitkhatri06, @ivangarcilazo

refactor(links): update terms and conditions link and create pages for the same
  src/Router.jsx
  src/pages/PrivacyPolicies/PrivacyPolicies.jsx
  src/pages/Signup/Signup.jsx
  src/pages/TermsAndConditions/TermsAndConditions.jsx
Owners: @mohitkhatri06, @ivangarcilazo

feat(eye-buttons): add eye buttons on password fields in signin and signup pages
  src/pages/Signin/Signin.jsx
  src/pages/Signin/Signin.module.css
  src/pages/Signup/Signup.jsx
  src/pages/Signup/Signup.module.css
Owners: @mohitkhatri06, @ivangarcilazo

refactor(login-signup): add client side validations in login and signup form
  package-lock.json
  package.json
  src/App.css
  src/pages/Signin/Signin.jsx
  src/pages/Signup/Signup.jsx
  src/provider/Provider.js
  src/utils/Constants.js
Owners: @mohitkhatri06, @ivangarcilazo

feat(cagr-calculator): add sliders in cagr calculator
  src/components/CAGRCalculator/CalculatorCAGR.jsx
  src/pages/CAGRCalculator/CAGRCalculator.jsx
Owners: @ivangarcilazo, @mohitkhatri06

feat(cagr-calculator): showing absolute returns and absolute value of cagr
  src/components/CAGRCalculator/CalculatorCAGR.jsx
  src/components/CAGRCalculator/PieCAGR.jsx
  src/components/CAGRCalculator/SummaryCAGR.jsx
  src/pages/CAGRCalculator/CAGRCalculator.jsx
Owners: @ivangarcilazo, @mohitkhatri06

Mocked notifications
  package-lock.json
  package.json
  src/components/Header/Header.jsx
  src/components/Layout/Layout.jsx
  src/provider/Provider.js
Owners: @mohitkhatri06, @ivangarcilazo
